.detail-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {

}

.image-container {
    width: 20%;
    max-width: 500px;

}

.image-container img {
    width: 100%;
}